h2 {
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

body {
    padding: 15px 15px 15px 15px;
    background-color: #302E1F;
    color: honeydew;
}

footer {
     padding: 15px 15px 15px 15px;
     background-color: #403E2F;
     color: honeydew;
     overflow: auto;
 }

p, figcaption {
    font-family: Oswald, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4E526D;
    overflow: hidden;
}

#jerryImage {
    padding: 15px 15px 15px 15px;
    float: left;
    width: 30%;
}

li a, #navBar {
    color: honeydew;
    font-family: Oswald, Arial, sans-serif;
}

.centerText {
    text-align: center;
}

.leftText {
    text-align: left;
}

.rightText {
    text-align: right;
}

html {
    padding: 15px 15px 15px 15px;
    background-color: #74A643;
}

.rightAlignedCaption {
    padding: 15px 15px 15px 15px;
}

#groceriesImage {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 350px;
}

#cabbageImage {
    float: right;
    margin-right: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 350px;
}